<ion-view view-title="Scan">

  <ion-content>
  
    <button class="button button-assertive" ng-click="scanBarcode()">Scan the Mada fudging qrCode</button>
    <div class="item item-divider">
        Maybe by reference?
      </div>
    <div class="list">
        <label class="item item-input">
            <span class="input-label">reference Number</span>
            <input type="text" ng-model="number.referenceNumber">
        </label>
        <button class="button button-assertive" ng-click="searchByReference(number.referenceNumber)" ng-disabled="!number.referenceNumber">Loookup dude</button>
    </div>
  </ion-content>
</ion-view>
